@model IEnumerable<VASTQuickShoping.Models.Identity.ApplicationUser>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-danger">CREAR USUARIOS</h2>

<p>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-3">

                <a href="~/Admin/UsersAdmin/Create" class="btn btn-info btn-block my-4">Crear </a>
            </div>

        </div>

    </div>
</p>
<div class="container">
    <table class="table table-stripe table-hover">
        <thead style=" background-color: #3e4353" class="#">
            <tr>

                <th style="width:50%; color:white;">

                    @Html.DisplayNameFor(model => model.UserName)
                </th>

                <th style="width:30%">

                </th>

            </tr>

        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <a href="~/Admin/usersadmin/Edit/@item.Id"><img src="https://img.icons8.com/cute-clipart/35/000000/pencil.png" /></a>
                    <a href="~/Admin/usersadmin/Details/@item.Id"><img src="https://img.icons8.com/cute-clipart/35/000000/book.png" /></a>
                    <a href="~/Admin/usersadmin/Delete/@item.Id"onclick="return confirm('¿Estas seguro de eliminar este registro?')"> <img src="https://img.icons8.com/fluent/35/000000/trash.png" /></a>

                </td>
            </tr>
        }


    </table>
</div>



