@model IEnumerable<VASTQuickShoping.Models.Domain.Department>
@{
    ViewBag.Title = "GENERO";
}

<br />
<br />
<center>
    <h2>GÉNERO</h2>
</center>


<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-danger form-control" href="~/admin/department/insertar">Nuevo</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-stripe table-hover">
            <thead class="thead-dark">
                <tr>
                    <th style="width:30%;">Género</th>
                    <th style="width: 70%;"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)//item es un objeto por eso lo pongo @item categoria
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a href="~/admin/department/modificar/@item.DepartmentID" class="btn btn-sm btn-primary">
                                <img src="https://img.icons8.com/carbon-copy/30/000000/pencil.png" />
                            </a>
                            <a href="~/admin/department/eliminar/@item.DepartmentID" class="btn btn-sm btn-success">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" onclick="return confirm('¿Estas seguro de eliminar este registro?')"></span><img src="https://img.icons8.com/wired/30/000000/trash.png" />
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        @(ViewBag.state == true ? "Activo":"Inactivo")
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
        <a class="dropdown-item" href="~/admin/department/index?state=true">Activo</a>
        <a class="dropdown-item" href="~/admin/department/index?state=false">Inactivo</a>

    </div>
</div>