<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Trabajo de SalazarTuanamaVegaAliaga</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="~/Assets/css/blanco.css" rel="stylesheet" />
    @RenderSection("MisEstilos", false)



</head>
<body>

    @using Microsoft.AspNet.Identity

    <section class="contain">
        <div class="item">
            <ul class="nav">
                <li class="nav-item active offset-1 ">
                    <a class="nav-link text-white" href="#">FONOCOMPRAS  203.7050 WHATSAPP Y ATENCIÓN AL CLIENTE 512-3333</a>
                </li>
            </ul>
        </div>
        <div class="item">
            <div class="mies">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">LINIO</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item  ">
                        <a class="nav-link text-white" href="#!">TOTTUS</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">SODIMAC</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="#!">SEGUROS</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#!">VIAJES</a>
                    </li>
                </ul>
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="#!">BANCO</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand offset-1" href="#">
            <img src="~/Assets/images/p2.png" alt="mi logo" /><strong>Tienda de Ropas</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container ">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form id="agrandar">
                    <input class="form-control font-weight-bold " type="search" placeholder="Busca tu ropa favorito" aria-label="Search">
                </form>
                <ul id="font" class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Categorias
                        </a>
                        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
                            <a class="dropdown-item" href="#"><strong>Moda Hombre</strong></a>
                            <a class="dropdown-item" href="#">Polos</a>
                            <a class="dropdown-item" href="#">Casacas</a>
                            <a class="dropdown-item" href="#">Polerones</a>
                            <a class="dropdown-item" href="#"><strong>Moda Infantil</strong></a>
                            <a class="dropdown-item" href="#">Bodys</a>
                            <a class="dropdown-item" href="#">Pantalones y Jeans</a>
                            <a class="dropdown-item" href="#">Buzos y Conjuntos</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-platzi" href="#">Compra de Tickets</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <section class="conta">
        <div class="itemsegun">
            <ul class="nav">
                <li class="nav-item active offset-1">
                    <a class="nav-link text-dark font-weight-bold" href="#">NUESTRAS TIENDAS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark font-weight-bold" href="#">NOVIOS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark font-weight-bold" href="#">CMR PUNTOS</a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link text-dark font-weight-bold" href="#">PAGA TU CMR</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-dark font-weight-bold" href="#">FONOCOMPRAS</a>
                </li>
            </ul>
            
        </div>
    </section>


  

    <br />
 



    <center>
        <div class="section">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </center>



    <br />
    <br />
    <br />
    <br />

    <!--footer-->
    <footer id="footer"  class="pb-4 pt-4 ">
        <div class="container">
            <div class="row text-center">
                <div class="col-12 col-lg">
                    <a href="#">Preguntas frecuentes</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Contactanos</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Prensa</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Conferencias</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Terminos y condiciones</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Privacidad</a>
                </div>
                <div class="col-12 col-lg">
                    <a href="#">Provacidad</a>
                </div>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)






    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous"></script>

    @RenderSection("MisScripts", false)
    <script src="js/jquery.min.js"></script>
    <script src="js/lity.min.js"></script>






</body>

</html>





