@model IEnumerable<VASTQuickShoping.Models.Domain.Category>

@{
    ViewBag.Title = "Index";
}

<br />
<center>
    <h2>Categoria</h2>
</center>
<br />
<div class="container">
    <div class="row ">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-7">

        </div>  
        <div class="col-sm-3  ">
            <a  class="btn  form-control" style="background-color:#b0b7e9" href="~/admin/category/insertar">Nuevo</a>
        </div>
    </div>
  
</div>
<br />

<div class="container">
    <div class="col-sm-12">
        <table class="table table-stripe table-hover">
            <thead style="background-color:#f3c6cd"  class="·">
                <tr>
                    <th style="width:40%;">NOMBRE</th>
                    <th style="width: 50%;">DESCRIPCION</th>
                    <th style="width: 10%;"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)//item es un objeto por eso lo pongo @item categoria
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Descripcion</td>
                        <td>

                            <a href="~/admin/category/modificar/@item.CategoryID"><img src="https://img.icons8.com/cute-clipart/35/000000/pencil.png" /></a>
                            <a href="~/admin/category/eliminar/@item.CategoryID" onclick="return confirm('¿Estas seguro de eliminar este registro?')"> <img src="https://img.icons8.com/fluent/35/000000/trash.png" /></a>


                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />


<div class="dropdown offset-8
     ">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        @(ViewBag.state == true ? "Activo":"Inactivo")
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
        <a class="dropdown-item" href="~/admin/category/index?state=true">Activo</a>
        <a class="dropdown-item" href="~/admin/category/index?state=false">Inactivo</a>

    </div>
</div>