@model IEnumerable<VASTQuickShoping.Models.Domain.Provider>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-danger form-control" href="~/admin/Provider/insertar">Nuevo</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-stripe table-hover">
            <thead class="thead-dark">
                <tr>
                    <th style="width:30%;">Nombre del Proveedor</th>
                    <th style="width:30%;">Telefono</th>
                    <th style="width: 40%;"></th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)//item es un objeto por eso lo pongo @item categoria
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Phone</td>
                    <td>
                        <a href="~/admin/provider/modificar/@item.ProviderID" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true">Editar</span></a>
                        <a href="~/admin/provider/eliminar/@item.ProviderID" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-pencil" aria-hidden="true" onclick="return confirm('¿Estas seguro de eliminar este registro?')">Eliminar</span></a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

