@model IEnumerable<VASTQuickShoping.Models.Domain.Brand>
@{
    ViewBag.Title = "Index";

}
@section Misestilos{
    <link href="~/Assets/css/blanco.css" rel="stylesheet" />
}
<br />
<h2>Tabla Marca</h2>
<br />
<div class="mover">
    <div class="row">
        <div class="col-sm-4">
            <center>
                <a class="btn btn-danger form-control" href="~/admin/brand/insertar">Nuevo</a>
            </center>
        </div>
    </div>

    <br />


    <div class="row">

        <div class="col-sm-12">
            <table class="table table-stripe table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="width:60%;">NOMBRE</th>
                        <th style="width: 40%;"></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)//item es un objeto por eso lo pongo @item categoria
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <a href="~/admin/brand/modificar/@item.BrandID" class="btn btn-sm btn-primary">

                                    <img src="https://img.icons8.com/carbon-copy/30/000000/pencil.png" />


                                </a>
                                <a href="~/admin/brand/eliminar/@item.BrandID" class="btn btn-sm btn-success" onclick="return confirm('¿Estas seguro de eliminar este registro?')">
                                    <img src="https://img.icons8.com/wired/30/000000/trash.png" />
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<br />
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        @(ViewBag.state == true ? "Activo":"Inactivo")
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
        <a class="dropdown-item" href="~/admin/brand/index?state=true">Activo</a>
        <a class="dropdown-item" href="~/admin/brand/index?state=false">Inactivo</a>

    </div>
</div>
