
@{
    ViewBag.Title = "Confirmacioncuenta";
}





<h2>Confirmacioncuenta</h2>
<p>Para completar tu registro bisque en la bandeja de entrada de su correo electrónico un mensaje de confirmación</p>

