@model IEnumerable<VASTQuickShoping.Models.Domain.Size>
@{
    ViewBag.Title = "Index";
}

<br />
<br /><center>
    <h2>Talla</h2>
</center>


<br />


<div class="container">
    <div class="row ">
        <div class="col-sm-2">

        </div>
        <div class="col-sm-7">

        </div>
        <div class="col-sm-3  ">
            <a class="btn btn-danger form-control" href="~/admin/size/insertar">Nuevo</a>
        </div>
    </div>

</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-stripe table-hover">
                <thead style="background-color:#f3c6cd" class="#">
                    <tr>
                        <th style="width:30%;">Nombre de la Talla</th>
                        <th style="width: 70%;"></th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)//item es un objeto por eso lo pongo @item categoria
                    {
                        <tr>


                            <td>@item.Name</td>
                            <td>

                                <div class="offset-9">
                                    <a href="~/admin/size/modificar/@item.SizeID"><img src="https://img.icons8.com/cute-clipart/35/000000/pencil.png" /></a>

                                    <a href="~/admin/size/eliminar/@item.SizeID" onclick="return confirm('¿Estas seguro de eliminar este registro?')"> <img src="https://img.icons8.com/fluent/35/000000/trash.png" /></a>
                                </div>

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





<br />
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        @(ViewBag.state == true ? "Activo":"Inactivo")
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu5">
        <a class="dropdown-item" href="~/admin/size/index?state=true">Activo</a>
        <a class="dropdown-item" href="~/admin/size/index?state=false">Inactivo</a>

    </div>
</div>