
@{
    ViewBag.Title = "Index";
}

<h2>Administración</h2>
<br />
<div class="row offset-1">
    <div class="col-sm-3 offset-1">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/p2.png" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Marcas</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/brand" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 offset-0">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/admin/categori.jpg" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Categorias</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/category" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 offset-0">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/admin/tallas.png" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Tallas</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/size" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>

</div>
<br />
<br />
<div class="row offset-1">
    <div class="col-sm-3 offset-1">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/admin/genero.jpg" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Genero</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/department" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 offset-0">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/admin/produ.jpg" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Productos</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/product" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 offset-0">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/admin/proveedores.jpg" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Proveedores</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/provider" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>

</div>

<br />
<br />
<div class="row">
    <div class="col-sm-3 ">
    </div>
    <div class="col-sm-3 ">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/admin/users.jpg" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Usuarios</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/usersadmin" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
        <div class="card">

            <!-- Card image -->
            <img class="card-img-top" src="~/Assets/images/admin/roles.png" alt="Card image cap" width="200" height="200">

            <!-- Card content -->
            <div class="card-body">

                <!-- Title -->
                <h4 class="card-title"><a>Roles</a></h4>
                <!-- Text -->
                <!---
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's
                    content.
                </p>-->
                <!-- Button -->
                <a href="~/admin/rolesadmin" class="btn btn-primary">Mostrar</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3 ">
    </div>
</div>
